{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
		{% for singleMusician in musicians %}
		  <tr>
			  <td>{{ singleMusician.id }}</td>
			  <td>
				  <a href="{% url "musician:edit_musician" pk=singleMusician.id %}">
					  {{ singleMusician.first_name }} {{ singleMusician.last_name }}
				  </a>
			  </td>
			  <td>{{ singleMusician.email }}</td>
			  <td>{{ singleMusician.album.rating }}</td>
			  <td>{{ singleMusician.instrument_type }}</td>
			  <td>{{ singleMusician.album.album_name }}</td>
			  <td>{{ singleMusician.album.release_date }}</td>
			  <td><a href="{% url "album:edit_album" pk=singleMusician.album.id %}">Edit</a><a href="{% url "album:delete_album" pk=singleMusician.album.id %}">Delete</a></td>
		  </tr>
		{% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
